absl-py==1.4.0
abstract_singleton==1.0.1
agbenchmark==0.0.2
agent-protocol==0.3.0
aiofiles==23.2.1
aiohttp==3.8.5
aiosignal==1.2.0
anyio==4.0.0
appdirs==1.4.4
array-record==0.4.1
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
auto_gpt_plugin_template @ git+https://github.com/Significant-Gravitas/Auto-GPT-Plugin-Template@7612a14c629dc64ad870eee4d05850d60e1dd9ce
autoflake==2.2.1
Babel==2.12.1
beautifulsoup4==4.12.2
black==23.9.1
blinker==1.6.2
blis==0.7.10
bs4==0.0.1
cachetools==5.3.1
catalogue==2.0.9
cattrs==22.2.0
certifi==2022.6.15
cffi==1.15.1
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.2.0
click==8.1.7
colorama==0.4.6
confection==0.1.3
coverage==7.3.1
cryptography==41.0.3
cssselect==1.2.0
curlify==2.2.1
cymem==2.0.7
discord.py==2.0.1
distlib==0.3.7
distro==1.8.0
dm-tree==0.1.8
dnspython==2.4.2
docker==6.1.3
duckduckgo-search==3.0.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
et-xmlfile==1.1.0
etils==1.5.0
exceptiongroup==1.0.4
execnet==2.0.2
facebook-business==16.0.2
fastapi==0.100.1
filelock==3.12.3
flake8==6.1.0
Flask==3.0.0
flatbuffers==23.5.26
frozenlist==1.3.1
fsspec==2023.9.2
ftfy==6.1.1
future-fstrings==1.2.0
gast==0.5.4
ghp-import==2.1.0
gitdb==4.0.10
GitPython==3.1.31
google-api-core==2.11.1
google-api-python-client==2.99.0
google-auth==2.23.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-cloud-speech==2.21.0
google-pasta==0.2.0
googleapis-common-protos==1.60.0
grpcio==1.58.0
grpcio-status==1.58.0
gTTS==2.3.1
h11==0.14.0
h2==4.1.0
h5py==3.9.0
hpack==4.0.0
httpcore==0.17.3
httplib2==0.22.0
httpx==0.24.1
hypercorn==0.14.4
hyperframe==6.0.1
identify==2.5.28
idna==3.3
importlib-resources==6.1.0
inflection==0.5.1
iniconfig==1.1.1
isort==5.12.0
itsdangerous==2.1.2
Jinja2==3.1.2
jsonschema==4.19.0
jsonschema-specifications==2023.7.1
keras==2.14.0
langcodes==3.3.0
libclang==16.0.6
loguru==0.7.2
lxml==4.9.3
Markdown==3.4.4
MarkupSafe==2.1.3
mccabe==0.7.0
mergedeep==1.3.4
mkdocs==1.5.2
mkdocs-material==9.3.1
mkdocs-material-extensions==1.1.1
mkdocs-table-reader-plugin==2.0.1
ml-dtypes==0.2.0
multidict==6.0.2
murmurhash==1.0.9
mypy==1.5.1
mypy-extensions==1.0.0
networkx==3.1
nodeenv==1.8.0
numpy==1.23.5
oauthlib==3.2.2
openai==0.27.8
openapi-python-client==0.13.4
opencv-python==4.8.1.78
openpyxl==3.0.10
opt-einsum==3.3.0
orjson==3.8.10
outcome==1.2.0
package-name==0.1
packaging==23.1
paginate==0.5.6
pandas==1.5.2
pandas-stubs==1.5.2.221124
pathspec==0.11.2
pathy==0.10.2
pexpect==4.8.0
Pillow==10.0.0
pinecone-client==2.2.1
platformdirs==3.10.0
playsound==1.2.2
pluggy==1.0.0
pre-commit==3.4.0
preshed==3.0.8
priority==2.0.0
promise==2.3
prompt-toolkit==3.0.39
proto-plus==1.22.3
protobuf==3.20.3
psutil==5.9.5
ptyprocess==0.7.0
py==1.11.0
py-cpuinfo==9.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycodestyle==2.11.0
pycountry==22.3.5
pycparser==2.21
pydantic==1.10.12
pyflakes==3.1.0
pygame==2.1.2
Pygments==2.16.1
pylatexenc==2.10
pymdown-extensions==10.3
pyOpenSSL==23.2.0
pyparsing==3.0.9
PyPDF2==3.0.1
PySocks==1.7.1
pytest==7.4.2
pytest-asyncio==0.21.1
pytest-benchmark==4.0.0
pytest-cov==4.1.0
pytest-depends==1.0.1
pytest-integration==0.2.3
pytest-mock==3.11.1
pytest-recording==0.13.0
pytest-xdist==3.3.1
python-dateutil==2.8.2
python-docx==0.8.11
python-dotenv==0.21.0
python-multipart==0.0.6
pytz==2022.6
PyYAML==6.0
pyyaml_env_tag==0.1
readability-lxml==0.8.1
redis==5.0.0
referencing==0.30.2
regex==2023.8.8
requests==2.31.0
requests-cache==0.9.7
requests-oauthlib==1.3.1
rpds-py==0.10.2
rsa==4.9
selenium==4.1.4
shellingham==1.5.3
six==1.16.0
smart-open==6.4.0
smmap==5.0.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
srsly==2.4.7
starlette==0.27.0
tabulate==0.9.0
tensorboard==2.14.1
tensorboard-data-server==0.7.1
tensorflow==2.14.0
tensorflow-datasets==4.9.3
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
tensorflow-macos==2.14.0
tensorflow-metadata==1.14.0
termcolor==2.3.0
thinc==8.1.12
tiktoken==0.3.3
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
trio==0.22.2
trio-websocket==0.10.4
typer==0.7.0
types-beautifulsoup4==4.12.0.6
types-colorama==0.4.15.12
types-html5lib==1.1.11.15
types-Markdown==3.4.2.10
types-Pillow==10.0.0.3
types-pytz==2022.6.0.1
types-requests==2.31.0.2
types-urllib3==1.26.25.14
typing_extensions==4.7.1
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.12
urllib3-secure-extra==0.1.0
uvicorn==0.23.2
vcrpy @ git+https://github.com/Significant-Gravitas/vcrpy.git@2f6fa05ae3518b1c0e92e63c3d12ecf5cf82cd48
virtualenv==20.24.5
wasabi==1.1.2
watchdog==3.0.0
wcwidth==0.2.6
webdriver-manager==4.0.0
websocket-client==1.6.3
Werkzeug==3.0.0
wrapt==1.14.1
wsproto==1.2.0
yarl==1.8.1
zipp==3.17.0
