<!DOCTYPE html>
<html>
<head>
    <title>Rock Paper Scissors</title>
</head>
<body>

<video id="video" width="150" height="150" autoplay></video>
<button onclick="captureFrame()">Play</button>

<script>
    var video = document.getElementById('video');

    // Get access to the camera
    if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
        navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
            video.srcObject = stream;
            video.play();
        });
    }

    function captureFrame() {
    var canvas = document.createElement('canvas');
    canvas.width = video.videoWidth;
    canvas.height = video.videoHeight;
    var context = canvas.getContext('2d');
    context.drawImage(video, 0, 0);
    
    // Convert the frame to a base64 encoded string
    var imageData = canvas.toDataURL('image/png');
    var jsonData = {
        "image": imageData
    };

    fetch('/predict', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(jsonData)
    }).then(response => response.json()).then(data => {
        console.log(data);
        console.log(`User Move: ${data.user_move}\nComputer Move: ${data.computer_move}\nResult: ${data.result}`);
    });
}


</script>

</body>
</html>
